._text_white
  color: rgba(232, 232, 232, 0.7)

._text_gray
  color: rgba(37, 37, 37, 0.7)

._back_gray
  background: rgba(199, 199, 199, 0.65)

._back_red
  background: rgba(210, 0, 0, 0.65)

._back_blue
  background: rgba(0, 20, 195, 0.65)

._back_green
  background: rgba(0, 189, 3, 0.65)
