.is-right
  display: flex
  align-items: center
  justify-content: flex-end
  
.is-left
  display: flex
  align-items: center
  justify-content: flex-start
  
.block
  display: block

.none
  display: none

.flex
  display: flex

.clearfix::after
  display: table
  clear: both
  content: ""

.inline_block
  display: inline-block

.hr
  padding: 2px 0
  background: rgba(199, 199, 199, 0.65)

.is-radius
  border-radius: 8px
.is-radius-avatar
  border-radius: 50%

.image-small
  width: 90px
.image-medium
  width: 150px
.image-large
  width: 250px

