// hide animate left
._mobile_nav_menu
  position: absolute
  left: -100%
  z-index: 1
  display: none

// animate show to left
.lft
  left: 0

// trigger mobile menu
._hamburger_menu
  display: none

// hamburger menu 
.bar1, .bar2, .bar3
  width: 35px
  height: 5px
  background-color: grey
  margin: 3px 0
  transition: 0.5s
  display: block

// animate hamburger menu
.change .bar1 
  transform: rotate(-45deg) translate(-9px, 6px)

.change .bar2 
  opacity: 0

.change .bar3 
  transform: rotate(45deg) translate(-8px, -8px)

// -----------------------------------------------------------

// info
#_info
  display: inline-block
  width: 100%
  padding: 8px 0
  background: rgb(176, 99, 161)
  color: rgb(251, 251, 251)
  p
  text-align: center
  
// markAsRead Notification
.marked
  text-decoration: line-through

// clearfix 
.clearfix::after
  display: table
  clear: both
  content: ""

// profile menu
._profile_menu
  background:  rgba(199, 199, 199, 0.65)
  color: rgba(37, 37, 37, 0.7)
  padding: 8px
  ul
   margin: 10px 0 0 20px
   padding: 0
  li
   display: block
  a
   color: rgba(37, 37, 37, 0.7)
   margin: 10px 0
   display: inline-block

._profile_menu ._profile_menu_users_username
  word-break: break-all

._profile_menu ._profile_menu_ava
  width: 120px
  padding: 5px 5px 

// admin 
._admin_header 
  background: linear-gradient(rgb(52, 150, 89), rgb(176, 189, 137))
  padding: 16px
  margin-top: 20px

// admin icon
._admin_dashboard_icon
  content: url('../../icon/dashboard.png')
  width: 25px
  height: 25px
._admin_product_icon
  content: url('../../icon/product.png')
  width: 25px
  height: 25px
._admin_logout_icon
  content: url('../../icon/logout.png')
  width: 25px
  height: 25px
 
// like & unlike

._before_liked
  content: url('../../icon/like.png')
  width: 25px
  height: 25px

._after_liked
  background: #71bc78
  content: url('../../icon/like.png')
  width: 25px
  height: 25px

._before_unliked
  content: url('../../icon/unlike.png')
  width: 25px
  height: 25px

._after_unliked
  background: #71bc78
  content: url('../../icon/unlike.png')
  width: 25px
  height: 25px


// eye icon
  
._wrapper_input_password
  display: flex
  position: relative

._eye_icon
  content: url('../../icon/eye-icon.png')
  position: absolute
  top: 12px
  right: 12px
  width: 26px
  height: 26px

._eye_icon:hover
  cursor: pointer

._eye_icon_slash
  content: url('../../icon/eye-icon-slash.png')
  position: absolute
  top: 12px
  right: 12px
  width: 26px
  height: 26px
 
// search

._search
  content: url('../../icon/search.png')
  width: 40px
  height: 40px

// banner

// Google and Facebook
#google_wrapper
  position: relative
#facebook_wrapper
  position: relative
#google_icon
  content: url('../../icon/google.png')
  width: 30px
  height: 30px
#facebook_icon
  content: url('../../icon/facebook.png')
  width: 30px
  height: 30px

// header
header
  border-bottom: 1px dashed rgb(209, 139, 82) !important
// nav
.nav
  background: rgba(199, 199, 199, 0.65)
  padding: 8px
  a
   text-decoration: none

// cart
._cart
  position: relative
  display: block
  cursor: pointer
  width: 70px  

._cart ._cart_count
  display: inline-block
  padding: 5px
  font-size: 19px
  background: rgba(210, 0, 0, 0.65)
  color: whitesmoke

._cart_wrapper
  position: relative

._fill_of_cart
  position: absolute
  transform: translate(25px, -65px)
  width: 19px

// --------------------------------------------------------------------------------

#_login_wrapper
  display: flex
  height: 500px
  justify-content: center
  align-items: center

#_add_Product_Form
  color: rgba(37, 37, 37, 0.7)
  padding-top: 8px

#_toggle_add_Product
  background: rgb(250, 250, 250)
  color: rgba(37, 37, 37, 0.7)
  text-align: center
  display: block
  margin-top: 8px
  padding: 8px
  width: 150px

._loggedIn
  background: rgb(104, 194, 67)
  color: rgba(232, 232, 232, 0.7)
  display: inline-block
  padding: 8px

._loggedOut
  background: rgb(194, 67, 67)
  color: rgba(232, 232, 232, 0.7)
  display: inline-block
  padding: 8px

// form login
#_form_login
  a
   margin-top: 8px
  #_remember_label
   color: rgba(37, 37, 37, 0.7)

// table cart wrapper
#_table_cart th
  border: none
#_table_cart td
  background: white
  border: none

// Flag int-tel-input
.iti-flag
  background-image: url("../../icon/flags.png")
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
  .iti-flag
  background-image: url("../../icon/flags@2x.png")

// products

._products
  border: 1px solid rgba(152, 152, 152, 0.5)
  background: rgb(240, 240, 240)
  box-shadow: 0px 2px 4px rgb(142, 142, 142)

._products ._products_name
  font-weight: 800 
  margin-left: 6px

._products ._products_users_username
  display: inline-block
  margin-left: 6px  

._products ._products_date
  margin-left: 6px

._products ._products_categories
  padding: 5px
  margin-left: 6px
  display: inline-block
  border-radius: 7px
  border: 1px solid rgb(125, 91, 56)
  background: rgb(185, 185, 185)
  color: rgb(238, 238, 238)

._products ._products_desc
  padding: 0 5px
  text-align: justify
  word-break: break-all
  line-height: 25px

._products_add_to_cart,
._products_edit,
._products_delete 
  margin-left: 6px

._products_wrapper_price
  background:  url('../../icon/board-price.jpg') no-repeat top 
  width: auto
  height: auto

._products_img_price
  max-height: 60px

._products_desc_price
  
// blogs in homepage

._blogs_homepage 
  background: #f7f7f7
  padding: 10px
  
._blogs_homepage_tags
  padding: 5px
  display: inline-block
  border-radius: 7px
  border: 1px solid rgb(125, 91, 56)
  background: rgb(185, 185, 185)
  color: rgb(238, 238, 238) 

._blogs_homepage_desc
  font-size: 16px !important

// blog in profile

._blog ._blog_img
  margin: 12px 0 
  width: 250px

._blog ._blog_desc
  text-align: justify
  line-height: 30px
  word-wrap: break-word

._blog ._blog_tags
  padding: 5px
  display: inline-block
  border-radius: 7px
  border: 1px solid rgb(125, 91, 56)
  background: rgb(185, 185, 185)
  color: rgb(238, 238, 238) 

._blog figure figcaption
  color: rgba(37, 37, 37, 0.7)
  font-size: 16px
  text-indent: 40px 
  
// blog emotions

._emotions
  color: rgba(37, 37, 37, 0.7)

._emotions_img
  width: 80px
  height: 80px
  cursor: pointer

._emotions_img:hover
  padding: 5px

// blog comments

._comments_textarea 
    color: grey

._comments_textarea:focus,
._comments_textarea:hover 
    outline: none
    border: 1px solid rgba(37, 37, 37, 0.7) 

._comments_ava 
    float: left
    margin: 0 5px !important
    width: 80px !important

._comments_subject 
    width: 70%
    line-height: 25px
    word-wrap: break-word
    text-align: justify

// footer
._footer 
  text-align: center
  padding: 16px

// pagination

.pagination 
  background: transparent !important 
  display: flex !important

// notif

._mark_as_readed
  text-decoration: line-through

._box_Notif 
  background: whitesmoke
  color: black
  float: left
  opacity: 1
  border: 3px dotted grey
  padding: 8px
  width: 50%
  p 
   margin: 5px 0

// blog in profile

._blog div span 
  margin: 6px 0
  display: inline-block

// panel register

.panel 
  padding: 0 5px
  max-height: 0
  overflow: hidden
  transition: max-height 0.5s ease-out




 