._mobile_nav_menu
  position: absolute
  left: -100%
  z-index: 1
  display: none

.lft
  left: 0

._hamburger_menu
  display: none
 
.bar1, 
.bar2, 
.bar3
  width: 35px
  height: 5px
  background-color: grey
  margin: 3px 0
  transition: 0.5s
  display: block

.change .bar1 
  transform: rotate(-45deg) translate(-9px, 6px)
.change .bar2 
  opacity: 0
.change .bar3 
  transform: rotate(45deg) translate(-8px, -8px)

#_info
  display: inline-block
  width: 100%
  padding: 8px 0
  background: rgb(176, 99, 161)
  color: rgb(251, 251, 251)
  p
  text-align: center

.marked
  text-decoration: line-through

.clearfix::after
  display: table
  clear: both
  content: ""

._my_profile_homepage
  margin: 12px 0 8px 0

._profile_menu
  background:  rgba(199, 199, 199, 0.65)
  color: rgba(37, 37, 37, 0.7)
  padding: 8px
  ul
   margin: 10px 0 0 20px
   padding: 0
  li
   display: block
  a
   color: rgba(37, 37, 37, 0.7)
   margin: 10px 0
   display: inline-block

._profile_menu ._profile_menu_users_username
  word-break: break-all

._profile_menu ._profile_menu_ava
  width: 120px
  padding: 5px 5px 
._before_liked
  content: url('../../icon/like.png')
  width: 25px
  height: 25px

._after_liked
  background: #71bc78
  content: url('../../icon/like.png')
  width: 25px
  height: 25px

._before_unliked
  content: url('../../icon/unlike.png')
  width: 25px
  height: 25px

._after_unliked
  background: #71bc78
  content: url('../../icon/unlike.png')
  width: 25px
  height: 25px
  
._wrapper_input_password
  display: flex
  position: relative

._eye_icon
  content: url('../../icon/eye-icon.png')
  position: absolute
  top: 12px
  right: 12px
  width: 26px
  height: 26px

._eye_icon:hover
  cursor: pointer

._eye_icon_slash
  content: url('../../icon/eye-icon-slash.png')
  position: absolute
  top: 12px
  right: 12px
  width: 26px
  height: 26px
 
._search
  content: url('../../icon/search.png')
  width: 40px
  height: 40px

#google_wrapper
  position: relative
#facebook_wrapper
  position: relative
#google_icon
  content: url('../../icon/google.png')
  width: 30px
  height: 30px
#facebook_icon
  content: url('../../icon/facebook.png')
  width: 30px
  height: 30px

header
  border-bottom: 1px dashed rgb(209, 139, 82) !important

.nav
  background: rgba(199, 199, 199, 0.65)
  padding: 8px
  a
   text-decoration: none

._cart
  position: relative
  display: block
  cursor: pointer
  width: 70px  

._cart ._cart_count
  display: inline-block
  padding: 5px
  background: rgba(210, 0, 0, 0.65)
  color: whitesmoke

._cart_wrapper
  position: relative

._fill_of_cart
  position: absolute
  transform: translate(25px, -65px)
  width: 19px

#_login_wrapper
  display: flex
  height: 500px
  justify-content: center
  align-items: center

#_add_Product_Form
  color: rgba(37, 37, 37, 0.7)
  padding-top: 8px

#_toggle_add_Product
  background: rgb(250, 250, 250)
  color: rgba(37, 37, 37, 0.7)
  text-align: center
  display: block
  margin-top: 8px
  padding: 8px
  width: 150px

._loggedIn
  background: rgb(104, 194, 67)
  color: rgba(232, 232, 232, 0.7)
  display: inline-block
  padding: 8px

._loggedOut
  background: rgb(194, 67, 67)
  color: rgba(232, 232, 232, 0.7)
  display: inline-block
  padding: 8px

#_table_cart th
  border: none
#_table_cart td
  background: white
  border: none

.iti-flag
  background-image: url("../../icon/flags.png")
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
  .iti-flag
  background-image: url("../../icon/flags@2x.png")

._products
  border: 1px solid rgba(152, 152, 152, 0.5)
  background: rgb(240, 240, 240)
  box-shadow: 0px 2px 4px rgb(142, 142, 142)

._products ._products_name
  font-weight: 800 
  margin: 10px 0 0 5%

._products ._products_users_username
  display: block
  margin: 10px 0 0 5%  

._products ._products_date
  display: block
  margin: 10px 0 0 5%

._products ._products_categories
  padding: 5px
  margin: 10px 0 0 5%
  display: inline-block
  border-radius: 7px
  border: 0.5px solid rgb(125, 91, 56)
  background: rgb(185, 185, 185)
  color: rgb(238, 238, 238)

._products ._products_desc
  margin: 10px 2% 0 2%
  text-align: justify
  line-height: 25px

._products_add_to_cart,
._products_edit,
._products_delete 
  margin: 10px 0 0 5%

._products_delete 
  margin-bottom: 5%

._products_desc_price
  margin: 10px 0 0 5%

._blogs_homepage 
  background: #f7f7f7
  padding: 10px

._blogs_homepage_title 
  margin-bottom: 8px

._blogs_homepage_author 
  margin-bottom: 8px
  display: block

._blogs_homepage_date 
  margin: 8px 0
  display: block
  
._blogs_homepage_tags
  padding: 5px
  display: inline-block
  border-radius: 7px
  border: 0.5px solid rgb(125, 91, 56)
  background: rgb(185, 185, 185)
  color: rgb(238, 238, 238) 

._blog ._blog_img
  margin: 12px 0 
  width: 250px

._blog ._blog_desc
  text-align: justify
  line-height: 30px
  word-wrap: break-word

._blog ._blog_tags
  padding: 5px
  display: inline-block
  border-radius: 7px
  border: 0.5px solid rgb(125, 91, 56)
  background: rgb(185, 185, 185)
  color: rgb(238, 238, 238) 

._blog figure figcaption
  color: rgba(37, 37, 37, 0.7)
  font-size: 16px
  text-indent: 40px 
  
._emotions
  color: rgba(37, 37, 37, 0.7)

._emotions_img
  width: 90px
  cursor: pointer

._emotions_percentage, 
._emotions_total
  display: block
  margin: 4% 0
  color: rgba(37, 37, 37, 0.7)

._comments_textarea 
    color: grey

._comments_textarea:focus,
._comments_textarea:hover 
    outline: none
    border: 1px solid rgba(37, 37, 37, 0.7) 

._comments_ava 
    float: left
    margin: 0 5px !important
    width: 80px !important

._comments_subject 
    width: 70%
    line-height: 25px
    word-wrap: break-word
    text-align: justify

._footer 
  text-align: center
._footer p
  margin: 5px 0

.pagination 
  background: transparent !important 
  display: flex !important

._mark_as_readed
  text-decoration: line-through

._box_Notif 
  background: whitesmoke
  color: black
  float: left
  opacity: 1
  border: 3px dotted grey
  padding: 8px
  width: 50%
  p 
  margin: 5px 0

._blog div span 
  margin: 6px 0
  display: inline-block

.panel 
  padding: 0 5px
  max-height: 0
  overflow: hidden
  transition: max-height 0.5s ease-out







 