@media screen and (max-width: 768px)
  body
    font-size: 16px

  .nav,
  ._profile_menu
    display: none 

  ._mobile_nav_menu
    background-color: whitesmoke
    color: rgba(37, 37, 37, 0.7)
    border-right: 3px dotted grey
    padding: 16px
    max-width: 70%
    display: block
    ul
        margin: 10px 0 0 20px
        padding: 0
        li
            display: inline-block
            a
                display: block 
                color: rgba(37, 37, 37, 0.7)
                margin: 10px 0
  
  ._mobile_nav_menu ._profile_menu_users_username
    margin-left: 10px

  ._cart_img 
    max-width: auto    

  ._hamburger_menu
    display: flex
    flex-direction: column
    align-items: flex-end

  ._container 
    margin: 0 auto

  ._columns
    display: block

  ._column
    width: 100% !important
  