@import 'variable'

table
  background: $default-back-color
  color: rgba(37, 37, 37, 0.7)
  border: 1px solid $default-text-color

table th
  border: 1px solid $default-text-color
  padding: 8px

table td
  border: 1px solid $default-text-color 
  padding: 8px
  text-align: center !important
